<!-- <DTI [formControl]="$any(registerForm.controls['userName'])" 
[label]="'User Name'"></DTI>  -->

 <!-- <DDP-BS [formControl]="$any(registerForm.controls['dateOfBirth'])" 
    [label]="'Date of Birth'" [maxDate]="maxDate"></DDP-BS>

<DDP-Flat [formControl]="$any(registerForm.controls['dateOfBirth2'])" 
    [label]="'Date of Birth'" [maxDate]="maxDate"></DDP-Flat>

<DDD [formControl]="$any(registerForm.controls['userRole'])" [label]="'User Role'" [options]="dropdownOptions"></DDD>

<DS2 [options]="optionsArray" [labelField]="'label'" [valueField]="'value'" [formControl]="$any(registerForm.controls['userRole2'])"></DS2>  -->

<!-- <DS2M
  [placeholder]="'Select Options'"
  [options]="optionsArray"
  [formControl]="$any(registerForm.controls['userRole2'])"
></DS2M>  -->


<!-- 
<dynamic-input
  label="Text Input"
  [inputClass]="null"
  [labelClass]="null"
  [formControl]="$any(customForm.controls['textInput'])"
  [validationMessages]="{ required: 'Text is required', maxLength: 'Max length is 50 characters' }"
  [maxLength]="6"
  inputType="text"
></dynamic-input>

<dynamic-input
  label="Number Input"
  [inputClass]="null"
  [labelClass]="null"
  [formControl]="$any(customForm.controls['numberInput'])"
  [validationMessages]="{ required: 'Number is required', pattern: 'Please enter a valid number', maxLength: 'Max length is 10 digits' }"
  [maxLength]="2"
  inputType="number"
></dynamic-input> -->
